///define colors...
$white: #fff;
$orange: #f88332;
$black: #000;

$gray-darkest: #181c27;
$gray-dark: #363637;
$gray-normal: #55585f;
$gray-light: #aaaeb8;
$gray-lightest: #aeaeae;

$link-color: $gray-light;
$active-color: $orange;
